/* ------ CUSTOM CSS P23R ------ */

/* Override default styles */
html {
    margin: 0px;
    padding: 0px;
}

body {
    font: 70%/1.6em Verdana, Geneva, sans-serif;
    color: #505050;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

h1,h2,h3 {
    font-weight: bold;
    margin: 0.5em 0 1em 0;
    color: #505050;
}

h1 {
    font-size: 120%;
    margin-bottom: 20px;
}

h2  {
    font-size: 110%;
    color: #878787;
    padding-left: 20px;
    background-image:url(#{resource['images:h2_bullet.png']});
    background-position:left;
    background-repeat:no-repeat;
    background-position: left center;
    margin-top: 30px;
}

h3 {
    font-size: 100%;
    color: #878787;
}

a:link {
    color: #505050;
    text-decoration: underline;
}

a:visited {
    color: #505050;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

div.mail-sent {
  background: url(#{resource['images:email-go-icon.png']}) top left no-repeat;
  width: 32px;
  height: 32px;
}

div.mail-read {
  background: url(#{resource['images:email-open-icon.png']}) top left no-repeat;
  width: 32px;
  height: 32px;
}

div.mail-new {
  background: url(#{resource['images:email-icon.png']}) top left no-repeat;
  width: 32px;
  height: 32px;
}

div.status-true {
  background: url(#{resource['images:tick.png']}) top left no-repeat;
  width: 16px;
  height: 16px;
}

div.status-false {
  background: url(#{resource['images:delete_disabled.png']}) top left no-repeat;
  width: 16px;
  height: 16px;
}

div.status-new {
  background: url(#{resource['images:new.png']}) top left no-repeat;
  width: 16px;
  height: 16px;
}

div.status-disabled {
  background: url(#{resource['images:lightning.png']}) top left no-repeat;
  width: 16px;
  height: 16px;
}

div.processIcon {
    display:inline-block;
    background: url(#{resource['images:software-update-available.png']}) top left no-repeat;
    width: 22px;
    height: 22px;
}

.ui-panelgrid .ui-widget-content {
    border:none !important;
}
.ui-panelgrid td {
    border:none !important;    
}

.ui-menuitem .ui-menuitem-link {      
   margin-right: 8px !important;   
}

.ui-selectonebutton .ui-button {
    width: 90px;
}

/* DIV styles */
#page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    background: #FFFFFF;
}

#header {
    width: 900px;
}

#menu {
    width: 900px;
}

#breadcrumb {
    padding-top: 40px;
    width: 900px;
}

#content {
    padding-top: 10px;
    width: 900px;
}

/* Navigation */
#navigationFirstLevelMenu ul li{
    list-style:none;
    padding: 0px;
    margin: 0px;
    }

    #navigationFirstLevelMenu ul {
    margin: 0px;
    padding: 0px;
    padding-left: 25px;
    }

    #navigationFirstLevelMenu {

    }
    #navigationFirstLevelMenu ul {

    }

    #navigationFirstLevelMenu ul li {
        display:block;
        float:left;
        margin-left:0;
        height: 34px;
        padding: 0px;
        /*border-right: 1px red solid;*/
    }


    #navigationFirstLevelMenu ul li a.inactive{

        display:block;
        margin:0px;
        padding:0px;
        width:auto;
        white-space:nowrap;

        background-image:url(#{resource['images:tab_bg_normal_right.png']});
        background-repeat:no-repeat;
        background-position: right 0px;

        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        color: #505050;
    }

    #navigationFirstLevelMenu ul li a.selected, #navigationFirstLevelMenu ul li a.active {
    
        text-indent: 0px;
        display:block;
        margin:0px;
        padding:0px;
        font-weight:bold;
        
        width:auto;
        white-space:nowrap;
        
        height: 24px;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 10px;
        background-image:url(#{resource['images:tab_bg_active.png']});
        background-repeat:repeat-x;
        color: #505050;

    }

    #navigationFirstLevelMenu ul li:last-child a.inactive {
        background-image:none;
    }

    /* Second level */

    #navigationFirstLevelMenu  .subnav  {

         position:absolute;
        display:block;
        margin:0px;
        padding:0px;
        width:auto;
        white-space:nowrap;
        background-image:none;
        
        padding-top: 10px;
        padding-left: 20px;
    }


    #navigationFirstLevelMenu .subnav  li a.selected {
        display:block;
        margin:0px;
        padding:0px;
        width:auto;
        white-space:nowrap;
        
          height: 24px;
        padding-right: 15px;
        background-image:url(#{resource['images:nav_seperator.png']});
        background-position:right;
        background-repeat:no-repeat;
    }

    #navigationFirstLevelMenu .subnav  li a.inactive{
        display:block;
        margin:0px;
        padding:0px;
        width:auto;
        white-space:nowrap;
        
           height: 24px;
        padding-right: 15px;
        background-image:url(#{resource['images:nav_seperator.png']});
        background-position:right;
        background-repeat:no-repeat;
        
        color: #707070;
    }

    #navigationFirstLevelMenu .subnav  li:last-child a.inactive {
        background-image:none;
    }

/* datatable list */
.rowEven {
    background-color: whitesmoke;
}

.rowOdd {
    background-color: white;
} 

