<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:p="http://primefaces.org/ui">

    <h:form id="menuForm">
        <p:tabMenu activeIndex="#{index}">
            <p:menuitem value="Übersicht" outcome="/secured/home" icon="ui-icon-home" rendered="#{identity.loggedIn}"/>    
            <p:menuitem value="Regelverwaltung" outcome="/secured/packagelist" icon="ui-icon-suitcase" rendered="#{identity.loggedIn}"/>    
            <p:menuitem value="Benachrichtigungen" outcome="/secured/notificationlist" icon="ui-icon-mail-closed" rendered="#{identity.loggedIn}"/>    
            <p:menuitem value="Protokoll" outcome="/secured/protocol" icon="ui-icon-note" rendered="#{identity.loggedIn}"/>    
        </p:tabMenu>
    </h:form>
    
</ui:composition>
