<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:p="http://primefaces.org/ui">

    <h:form>
    <h:graphicImage library="images" name="p23r_logo.png" alt="P23R" />
    <div style="float: right; margin-top: 10px;">
        <p:menuButton value="#{identity.account.loginName}" rendered="#{identity.loggedIn}" >
            <p:separator />  
            <p:menuitem value="Abmelden" action="#{identity.logout}" icon="ui-icon-power"/>  
        </p:menuButton>
    </div>
    </h:form>
</ui:composition>
