<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>P23R-Unternehmensportal</title>
    <h:outputStylesheet library="css" name="p23r.css" />
    <ui:insert name="head" />
</h:head>

<h:body onload="profileScriptAccordion.unselect(0);notificationScriptAccordion.unselect(0);">
    <f:view>
        <div id="page">

            <div id="header" style="position: relative; top: 0px;">
                <ui:include src="p23rheader.xhtml" />
            </div>

            <div id="menu">
                <ui:include src="p23rmenu.xhtml" />
            </div>

            <div id="breadcrumb">
                <ui:insert name="breadcrumb" />
            </div>

            <div id="content">
                <ui:insert name="body" />
            </div>
            
        </div>
    </f:view>
</h:body>
</html>
