<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="0" />

    <ui:define name="body">

        <h2>Anmelden</h2>
    
        <h:form>
            <p:messages id="errorMessage" autoUpdate="true" />

            Authentifizierung schlug fehl!
        </h:form>
    
     </ui:define>

</ui:composition>
