<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui" 
    template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="0" />

    <ui:define name="body">
        
        <h1>Übersicht</h1>
        
        <h2>Offene Benachrichtigungen</h2>
        <h:form>
            <p:dataTable paginator="true" rows="10" dynamic="true" var="nl" value="#{notificationManager.newReports}" emptyMessage="Keine Benachrichtigungen offen.">
                <p:column>
                    <h:outputText value="#{nl.entryDate}" converter="calendarConverter" />
                </p:column>
                <p:column>
                    <h:outputText value="#{ruleManager.getRuleName(nl.notificationRuleId)}" />
                </p:column>
                <p:column>
                    <p:commandButton id="approve" value="Bearbeiten" action="#{notificationAction.viewNotification(nl)}" />
                </p:column>
            </p:dataTable>
        </h:form>
            
    </ui:define>
    
</ui:composition>
