<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="0" />

    <ui:define name="body">

        <h:form id="loginform" onsubmit="document.getElementById('loginform').action='j_security_check';" prependId="false">
            <p:messages id="errorMessage" autoUpdate="true" />
            <p:panelGrid columns="1" rendered="#{!identity.loggedIn}">
                <p:inputText id="j_username" name="j_username" value="#{loginCredentials.userId}" placeholder="Benutzername" />
                <p:password id="j_password" name="j_password" value="#{loginCredentials.password}" placeholder="Passwort" />
                <p:commandButton id="submit" value="Anmelden" immediate="true" ajax="false"/>
            </p:panelGrid>
            <h:panelGroup rendered="#{identity.loggedIn}">
                <h:outputText value="Hallo #{identity.account.loginName}, du bist bereits angemeldet." />
                <br />
                <br />
                <p:commandButton id="logout" value="Logout" action="#{identity.logout}" />
            </h:panelGroup>            
        </h:form>
    
     </ui:define>

</ui:composition>
