<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:p="http://primefaces.org/ui"
    template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="2" />

    <ui:define name="body">
   
    <h1>Benachrichtigung anzeigen</h1>

    <h:form id="notificationView">
        <p:fieldset>
            <h:panelGroup style="float: right;" rendered="#{notificationAction.currentNotification.isTransmitted}">
                <p:graphicImage library="images" name="#{notificationAction.currentNotification.approvalStatus == 'declined' ? 'delete.png' : 'tick.png'}" style="vertical-align: bottom;"/>    
                <h:outputText value=" #{notificationAction.currentNotification.approvalStatus == 'declined' ? 'Abgelehnt' : 'Freigegeben'} am " />
                <h:outputText value="#{notificationAction.currentNotification.transmissionDate}" converter="calendarConverter" />
            </h:panelGroup>                
            <h:panelGroup style="float: right;" rendered="!#{notificationAction.currentNotification.isTransmitted}">
                <h:outputText value="Die Benachrichtigung wurde noch nicht berarbeitet" />
            </h:panelGroup>

            <p:commandButton id="transaction" value="Protokoll" action="#{protocolFilter.filterNotification(nl.notificationId)}" />

            <div style="clear:both;" />
            <p/>

            <h:outputText value="Erstellt am " />
            <h:outputText value="#{notificationAction.currentNotification.entryDate}" converter="calendarConverter" />
            <p/>
            <h:outputText value="Notizen/Bemerkungen: " />
            <h:inputText rendered="#{!notificationAction.currentNotification.isTransmitted}" value="#{notificationAction.approvalNote}" style="width:100%;" />
            <h:outputText rendered="#{notificationAction.currentNotification.isTransmitted}" value="#{empty notificationAction.approvalNote ? 'Keine' : notificationAction.approvalNote}" />
            
        </p:fieldset>
        
        <p:spacer height="20" rendered="#{!notificationAction.currentNotification.isTransmitted}" />
        <p:fieldset rendered="#{!notificationAction.currentNotification.isTransmitted}">        
            <h:panelGrid columns="2" cellspacing="10">
                <p:commandButton styleClass="ui-priority-primary" style="width:120px;" id="approve" value="Freigeben" action="#{notificationAction.approveTrue}" />    
                <h:panelGroup><h:graphicImage library="images" name="information.png" style="vertical-align:top;" /><p:spacer width="5" />Gibt diese Benachrichtigung frei und versendet sie.</h:panelGroup>
            </h:panelGrid>
            
            <h:panelGrid columns="2" cellspacing="10">
                <p:commandButton style="width:120px;" id="disapprove" value="Ablehnen" action="#{notificationAction.approveFalse}" />    
                <h:panelGroup><h:graphicImage library="images" name="information.png" style="vertical-align:top;" /><p:spacer width="5" />Lehnt diese Benachrichtigung ab.</h:panelGroup>
            </h:panelGrid>
        </p:fieldset>
        
        <p:spacer height="20" />
        <div style="font-size:150%;">
            <pe:codeMirror mode="xml" value="#{notificationAction.notificationXML}" lineWrapping="true" readOnly="#{notificationAction.currentNotification.isTransmitted}"  />
        </div>
        <p />
    </h:form>
    </ui:define>

</ui:composition>
