<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="2" />

    <ui:define name="body">

    <h1>Benachrichtigungen</h1>
    
    <div><h:graphicImage library="images" name="information.png" style="vertical-align:top;" /><p:spacer width="10    " />Die folgende Ansicht beinhaltet eine Übersicht aller offenen und bereits versendeten Benachrichtigungen.</div>
    <br />

    <h:form id="notificationForm">
        <p:dataTable paginator="true" rows="10" dynamic="true" id="reports" var="nl" value="#{notificationManager.reports}" emptyMessage="Keine Benachrichtigungen vorhanden.">
            <p:column width="32" >
                <div class="#{nl.isNew ? 'mail-new' : nl.isTransmitted ? 'mail-sent' : 'mail-read'}"/>
            </p:column>
            <p:column width="100">
                <h:outputText value="#{nl.entryDate}" converter="calendarConverter" />
            </p:column>
            <p:column width="16">
                <p:graphicImage library="images" name="#{nl.approvalStatus == 'declined' ? 'delete.png' : 'tick.png'}" style="vertical-align: bottom;" rendered="#{nl.isTransmitted}" />
            </p:column>
            <p:column>
                <h:outputText value="#{ruleManager.getRuleName(nl.notificationRuleId)}" />
            </p:column>
            <p:column width="100">
                <p:commandButton id="approve" value="#{nl.isTransmitted ? 'Anzeigen' : 'Freigeben'}" action="#{notificationAction.viewNotification(nl)}" style="width:100px;"/>
            </p:column>
        </p:dataTable>

        <p/>
        <p:commandButton value="Abgleich" action="#{notificationManager.clean()}" update="reports" title="Überprüft, ob Benachrichtigungen noch im P23R existieren." />

    </h:form>

    </ui:define>

</ui:composition>
