<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="1" />

    <ui:define name="body">

    <h1>Regelverwaltung - Übersicht</h1>
    
    <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  
              
    <p:dialog modal="true" widgetVar="statusDialog" draggable="false" closable="false" showHeader="false" resizable="false">  
        <p:graphicImage library="images" name="ajax-loader.gif" />
    </p:dialog>  
    
    <h:form id="rulePackagesForm">
        
        <h2><p:commandLink action="#{rulePackageListManager.updateRules()}" value="Verfügbare Regelpakete der Leitstelle" update="packages" /></h2>
                
        <h:panelGroup id="packages">
        <ui:repeat var="package" value="#{rulePackageListManager.packages}">
            <p:panel toggleable="true" collapsed="true">
                <f:facet name="header">
                    <p:graphicImage library="images" name="#{package.selected ? 'lightbulb.png' : 'lightbulb_off.png'}" />    
                    <p:spacer width="10" />
                    <p:commandLink global="false" action="#{rulePackageManager.viewPackage(package)}" value="#{package.title}" />
                </f:facet>
                <f:facet name="actions">
                    <div style="float:right;">
                        <h:outputText value="V #{package.release}" />
                        <h:panelGroup rendered="#{not package.selected}">
                            <p:spacer width="20" />
                            <p:graphicImage library="images" name="#{package.recommended ? 'exclamation.png' : 'information.png'}" />
                            <h:outputText value="#{package.recommended ? ' Empfohlen' : ' Optional'}" />
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:spacer width="20" />
                            <p:graphicImage library="images" name="#{package.supported ? 'tick.png' : 'delete.png'}" />    
                            <h:outputText value=" #{package.supported ? ' Unterstützt' : ' Nicht unterstützt'}" />
                        </h:panelGroup>
                        <p:spacer width="20" />
                    </div>
                </f:facet>
                <h:outputText value="#{package.descriptions}" converter="languageSelectionConverter"/>
            </p:panel>            
            <p/>
        </ui:repeat>
        </h:panelGroup>
    </h:form>

    </ui:define>

</ui:composition>
