<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:p="http://primefaces.org/ui"
    template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="1" />

    <ui:define name="breadcrumb">
        <h:form id="breadCrumbForm">
            <p:breadCrumb>
                <p:menuitem value="home" url="/secured/packagelist.xhtml" />
                <p:menuitem value="#{rulePackageManager.rulePackage.name}" url="/secured/package.xhtml" />
                <p:menuitem value="#{ruleGroupManager.ruleGroup.name}" url="/secured/packagegroup.xhtml" />
                <p:menuitem value="#{ruleManager.rule.name}" url="#" />
            </p:breadCrumb>
        </h:form>
    </ui:define>

    <ui:define name="body">

    <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  
              
    <p:dialog modal="true" widgetVar="statusDialog" draggable="false" closable="false" showHeader="false" resizable="false">  
        <p:graphicImage library="images" name="ajax-loader.gif" />
    </p:dialog>  
    
    <h1><h:outputText value="#{ruleManager.rule.title}" /></h1>

    <h:form id="ruleForm">    

        <p:dialog header="Nachricht" resizable="false" modal="true" widgetVar="messageDialog" dynamic="true" width="600" >
            <pe:codeMirror mode="xml" value="#{ruleGenerateAction.message}" lineWrapping="true" readOnly="false" />
            <p/>
            <p:commandButton id="send" value="Versenden" action="#{ruleGenerateAction.send}" onclick="messageDialog.hide()"/>
        </p:dialog>
    
        <p:messages id="p23rmessages" autoUpdate="true" closable="true" />  
            
        <p:fieldset>
            <h:panelGroup id="status" style="float: right;">
                <p:graphicImage library="images" name="#{ruleManager.rule.deactivated ? 'lightbulb_off.png' : 'lightbulb.png'}" style="vertical-align: bottom;"/>
                <h:outputText value="#{ruleManager.rule.deactivated ? ' Deaktiviert' : ' Aktiviert'}" />
                <p:spacer width="20" />
                <p:graphicImage library="images" name="#{ruleManager.rule.active ? 'clock.png' : 'clock_red.png'}" style="vertical-align: bottom;"/>    
                <h:outputText value="#{ruleManager.rule.active ? ' Zur Zeit aktiv' : ' Zur Zeit nicht aktiv'}" />
                <p:spacer width="10" />
            </h:panelGroup>

            <p:commandButton id="generate" global="false" value="Auslösen" action="#{ruleGenerateAction.editMessage(ruleManager.rule)}" oncomplete="messageDialog.show()" title="Bietet die Möglichkeit die Regel manuell auszulösen" styleClass="ui-priority-primary" disabled="#{ruleManager.rule.deactivated}" />
            <p:spacer width="10" />
            <p:commandButton id="deactivation" value="Deaktivieren" action="#{ruleManager.deactivateRule()}" update="ruleForm" disabled="#{ruleManager.rule.deactivated}" />
            <p:spacer width="20" />
            <h:outputText value="Freigabe" />
            <p:spacer width="5" />
            <p:selectOneButton style="display:inline-block;" value="#{ruleManager.autoApproval}" valueChangeListener="#{ruleManager.toggleAutoApproval}" disabled="#{ruleManager.rule.deactivated}">
                <f:selectItem itemLabel="manuell" itemValue="false" />
                <f:selectItem itemLabel="automatisch" itemValue="true" />
            </p:selectOneButton>
            
            <div style="clear:both;" />
            <p/>
            <h:outputText value="#{ruleManager.rule.descriptions}" converter="languageSelectionConverter" />
            <p/>
            <h:outputText value="#{ruleManager.rule.targets}" converter="languageSelectionConverter" />        
            <p/>
            <h:panelGroup rendered="#{not empty ruleManager.rule.hints}">
                <h:outputText value="Hinweis: " />
                <h:outputText value="#{ruleManager.rule.hints}" converter="languageSelectionConverter" />            
            </h:panelGroup>
            <p/>
            <h:panelGroup rendered="#{not empty ruleManager.rule.creators}">
                <h:outputText value="Erstellt von " />
                <h:outputText value="#{ruleManager.rule.creators}" converter="listStringConverter" />
            </h:panelGroup>
            <p/>

            <h:panelGroup rendered="#{not empty ruleManager.rule.legalBackgrounds}">
                <h:outputText value="Rechtliche Hintergründe: " />
                <h:outputText value="#{ruleManager.rule.legalBackgrounds}" converter="languageSelectionConverter" />
            </h:panelGroup>    

        </p:fieldset>
        <p />

        <p:panel toggleable="true" collapsed="true">
            <f:facet name="header">
                <p:graphicImage library="images" name="#{ruleManager.rule.active ? 'clock.png' : 'clock_red.png'}" style="vertical-align: bottom;"/>    
                <p:spacer width="10" />
                <h:outputText value="Ausführungen zwischen #{ruleManager.rule.validFrom} und #{ruleManager.rule.validUntil} (Gültigkeitszeitraum)" />            
            </f:facet>
            <pe:timeline id="timeline" value="#{ruleManager.model}" showCurrentTime="true" zoomable="true" stackEvents="true" selectable="false" showNavigation="true" />
        </p:panel>                
        <p />
        <h:panelGroup id="warnings" rendered="#{not empty ruleManager.rule.warnings}" >
            <h:graphicImage library="images" name="exclamation.png" style="vertical-align:top;" />Aufgetretene Warnungen: <h:outputText value="#{ruleManager.rule.warnings}" converter="listStringConverter" />
        </h:panelGroup>
        <p />        
        <h:panelGroup id="errors" rendered="#{not empty ruleManager.rule.errors}">
            <h:graphicImage library="images" name="error.png" style="vertical-align:top;" />Aufgetretene Fehler: <h:outputText value="#{ruleManager.rule.errors}" converter="listStringConverter" />
        </h:panelGroup>
        <p />        
        
    </h:form>

    </ui:define>

</ui:composition>
