<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="1" />

    <ui:define name="breadcrumb">
        <h:form id="breadCrumbForm">
            <p:breadCrumb>
                <p:menuitem value="home" url="/secured/packagelist.xhtml" />
                <p:menuitem value="#{rulePackageManager.rulePackage.name}" url="/secured/package.xhtml" />
                <p:menuitem value="#{ruleGroupManager.ruleGroup.name}" url="#" />
            </p:breadCrumb>
        </h:form>
    </ui:define>

    <ui:define name="body">
        
    <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  
              
    <p:dialog modal="true" widgetVar="statusDialog" draggable="false" closable="false" resizable="false" showHeader="false">  
        <p:graphicImage library="images" name="ajax-loader.gif" />
    </p:dialog>  

    <h1><h:outputText value="#{ruleGroupManager.ruleGroup.title}" /></h1>
    
    <h:form id="groupForm">    
        
        <p:fieldset>
            <h:panelGroup id="status" style="float: right;">
                <p:graphicImage library="images" name="#{ruleGroupManager.ruleGroup.activated ? 'lightbulb.png' : 'lightbulb_off.png'}" style="vertical-align: bottom;"/>    
                <h:outputText value="#{ruleGroupManager.ruleGroup.activated ? ' Aktiviert' : ' Deaktiviert'}" />
                <p:spacer width="20" />
                <p:graphicImage library="images" name="#{ruleGroupManager.ruleGroup.active ? 'clock.png' : 'clock_red.png'}" style="vertical-align: bottom;"/>
                <h:outputText value="#{ruleGroupManager.ruleGroup.active ? ' Zur Zeit aktiv' : ' Zur Zeit nicht aktiv'}" />
                <p:spacer width="20" />
                <p:graphicImage library="images" name="#{ruleGroupManager.ruleGroup.recommended ? 'exclamation.png' : 'information.png'}" style="vertical-align: bottom;"/>    
                <h:outputText value="#{ruleGroupManager.ruleGroup.recommended ? ' Empfohlen' : ' Optional'}" />
                <p:spacer width="10" />
            </h:panelGroup>

            <p:commandButton id="activation" value="#{ruleGroupManager.ruleGroup.activated ? 'Deaktivieren' : 'Aktivieren'}" action="#{ruleGroupManager.toggleActivation()}" update="groupForm" disabled="#{!rulePackageManager.rulePackage.selected}" styleClass="ui-priority-primary" />

            <div style="clear:both;" />
            <p/>

            <h:outputText value="#{ruleGroupManager.ruleGroup.descriptions}" converter="languageSelectionConverter" />
            <p/>
            <h:outputText value="#{ruleGroupManager.ruleGroup.targets}" converter="languageSelectionConverter" />
            <p/>
            <h:panelGroup rendered="#{ruleGroupManager.ruleGroup.hints.size() > 0}">
                <h:outputText value="Hinweis: " />
                <h:outputText value="#{ruleGroupManager.ruleGroup.hints}" converter="languageSelectionConverter" />            
                <p/>
            </h:panelGroup>
            <h:panelGroup rendered="#{ruleGroupManager.ruleGroup.legalBackgrounds.size() > 0}">
                <h:outputText value="Rechtliche Hinweise: " />
                <h:outputText value="#{ruleGroupManager.ruleGroup.legalBackgrounds}" converter="languageSelectionConverter" />
                <p/>
            </h:panelGroup>
            <h:outputText value="Erstellt von " />
            <h:outputText value="#{ruleGroupManager.ruleGroup.creators}" converter="listStringConverter" />
        </p:fieldset>

        <p/>
        
        <h:panelGroup id="warnings" rendered="#{not empty ruleGroupManager.ruleGroup.warnings}">
            <h:panelGrid columns="1" cellspacing="10">
                <div><h:graphicImage library="images" name="exclamation.png" style="vertical-align:top;"/>Aufgetretene Warnungen: <h:outputText value="#{ruleGroupManager.ruleGroup.warnings}" converter="listStringConverter" /></div>
            </h:panelGrid>
        </h:panelGroup>
        
        <h:panelGroup id="errors" rendered="#{not empty ruleGroupManager.ruleGroup.errors}">
            <h:panelGrid columns="1" cellspacing="10">
                <div><h:graphicImage library="images" name="error.png" style="vertical-align:top;" />Aufgetretene Fehler: <h:outputText value="#{ruleGroupManager.ruleGroup.errors}" converter="listStringConverter" /></div>
            </h:panelGrid>
        </h:panelGroup>
        
        <h:panelGroup id="rules">
            <h2>Regeln</h2>
            <ui:repeat var="rule" value="#{ruleGroupManager.ruleGroup.rules}">
                <p:panel toggleable="true" collapsed="true">
                    <f:facet name="header">
                        <p:graphicImage library="images" name="#{rule.deactivated ? 'lightbulb_off.png' : 'lightbulb.png'}" style="vertical-align:top;"/>
                        <p:spacer width="10" />
                        <p:commandLink value="#{rule.title}" global="false" action="#{ruleManager.viewRule(rule)}" />
                    </f:facet>
                    <f:facet name="actions">
                        <div style="float:right;vertical-align:top;">
                            <h:outputText value="V #{rule.release}" />
                            <p:spacer width="20" />
                            <p:graphicImage library="images" name="#{rule.active ? 'clock.png' : 'clock_red.png'}" style="vertical-align:top;"/>    
                            <h:outputText value="#{rule.active ? ' Zur Zeit aktiv' : ' Zur Zeit nicht aktiv'}" />
                            <p:spacer width="20" />
                        </div>
                    </f:facet>
                    <h:outputText value="#{rule.descriptions}" converter="languageSelectionConverter"/>
                </p:panel>            
                <p/>
            </ui:repeat>
        </h:panelGroup>
    </h:form>

    </ui:define>

</ui:composition>
