<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="1" />

    <ui:define name="breadcrumb">
        <h:form id="breadCrumbForm">
            <p:breadCrumb>
                <p:menuitem value="home" url="/secured/packagelist.xhtml" />
                <p:menuitem value="#{rulePackageManager.rulePackage.name}" url="#" />
            </p:breadCrumb>
        </h:form>
    </ui:define>

    <ui:define name="body">

    <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  
              
    <p:dialog modal="true" widgetVar="statusDialog" draggable="false" closable="false" showHeader="false" resizable="false">  
        <p:graphicImage library="images" name="ajax-loader.gif" />
    </p:dialog>  
    
    <h1><h:outputText value="#{rulePackageManager.rulePackage.title}" converter="listStringConverter" /></h1>
    
    <h:form id="packageForm">
        
        <p:fieldset>
            <h:panelGroup id="status" style="float: right;">
                <p:graphicImage library="images" name="#{rulePackageManager.rulePackage.selected ? 'lightbulb.png' : 'lightbulb_off.png'}" style="vertical-align: bottom;"/>    
                <h:outputText value="#{rulePackageManager.rulePackage.selected ? ' Aktiviert' : ' Deaktiviert'}" />
                <p:spacer width="20" />
                <p:graphicImage library="images" name="#{rulePackageManager.rulePackage.supported ? 'tick.png' : 'delete.png'}" style="vertical-align: bottom;"/>
                <h:outputText value="#{rulePackageManager.rulePackage.supported ? ' Unterstützt' : ' Nicht unterstützt'}" />
                <p:spacer width="20" />
                <p:graphicImage library="images" name="#{rulePackageManager.rulePackage.recommended ? 'exclamation.png' : 'information.png'}" rendered="#{rulePackageManager.rulePackage.recommended}" style="vertical-align: bottom;"/>    
                <h:outputText value="#{rulePackageManager.rulePackage.recommended ? ' Empfohlen' : ' Optional'}" />
                <p:spacer width="10" />
            </h:panelGroup>

            <p:commandButton id="selection" value="#{rulePackageManager.rulePackage.selected ? 'Deaktivieren' : 'Aktivieren'}" action="#{rulePackageManager.toggleSelection()}" update="packageForm" styleClass="ui-priority-primary" />

            <div style="clear:both;" />
            <p/>

            <h:outputText value="#{rulePackageManager.rulePackage.descriptions}" converter="languageSelectionConverter" />
            <p/>
            <h:outputText value="#{rulePackageManager.rulePackage.targets}" converter="languageSelectionConverter" />
            <p/>
            <h:panelGroup rendered="#{not empty rulePackageManager.rulePackage.hints}">
                <h:outputText value="Hinweis: " />
                <h:outputText value="#{rulePackageManager.rulePackage.hints}" converter="languageSelectionConverter" />            
            </h:panelGroup>
            <p/>
            <h:panelGroup rendered="#{not empty rulePackageManager.rulePackage.creators}">
                <h:outputText value="Erstellt von " />
                <h:outputText value="#{rulePackageManager.rulePackage.creators}" converter="listStringConverter" />
            </h:panelGroup>
            <p/>
            <h:panelGroup rendered="#{not empty rulePackageManager.rulePackage.publisher}">
                <h:outputText value="Veröffentlicht durch " />
                <h:outputText value="#{rulePackageManager.rulePackage.publisher}" />
            </h:panelGroup>
        </p:fieldset>        
        <p/>
        <h:panelGroup id="warnings" rendered="#{not empty rulePackageManager.rulePackage.warnings}">
            <h:graphicImage library="images" name="exclamation.png" style="vertical-align:top;" />Aufgetretene Warnungen: <h:outputText value="#{rulePackageManager.rulePackage.warnings}" converter="listStringConverter" />
        </h:panelGroup>
        
        <h:panelGroup id="errors" rendered="#{not empty rulePackageManager.rulePackage.errors}">
            <h:graphicImage library="images" name="error.png" style="vertical-align:top;"/>Aufgetretene Fehler: <h:outputText value="#{rulePackageManager.rulePackage.errors}" converter="listStringConverter" />
        </h:panelGroup>
        
        <h:panelGroup id="groups" rendered="#{not empty rulePackageManager.rulePackage.ruleGroups}">
            <h2>Regelgruppen</h2>
            <ui:repeat var="group" value="#{rulePackageManager.rulePackage.ruleGroups}" >
                <p:panel toggleable="true" collapsed="true">
                    <f:facet name="header">
                        <p:graphicImage library="images" name="#{group.activated ? 'lightbulb.png' : 'lightbulb_off.png'}" style="vertical-align:top;" />    
                        <p:spacer width="10" />
                        <p:commandLink action="#{ruleGroupManager.viewRuleGroup(group)}" global="false" value="#{group.title}" />
                    </f:facet>
                    <f:facet name="actions">
                        <div style="float:right;vertical-align:top;">
                            <h:outputText value="V #{group.release}" />
                            <h:panelGroup rendered="#{group.activated}">
                                <p:spacer width="20" />
                                <p:graphicImage library="images" name="#{group.active ? 'clock.png' : 'clock_red.png'}" style="vertical-align:top;" />
                                <h:outputText value="#{group.active ? ' Zur Zeit aktiv' : ' Zur Zeit nicht aktiv'}" />
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:spacer width="20" />
                                <p:graphicImage library="images" name="#{group.recommended ? 'exclamation.png' : 'information.png'}" style="vertical-align:top;" />    
                                <h:outputText value="#{group.recommended ? ' Empfohlen' : ' Optional'}" />
                            </h:panelGroup>
                            <p:spacer width="20" />
                        </div>
                    </f:facet>
                    <h:outputText value="#{group.descriptions}" converter="languageSelectionConverter"/>
                </p:panel>            
                <p/>
            </ui:repeat>
        </h:panelGroup>
    </h:form>

    </ui:define>

</ui:composition>
