<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    template="../layout/p23rtemplate.xhtml">

    <ui:param name="index" value="3" />

    <ui:define name="body">

        <h1>Protokoll anzeigen</h1>

        <h:form id="protokoll">
            <!-- Filter reset button -->
            <p:commandButton value="Filter zurücksetzen"
                action="#{protocolFilter.reset()}" update="entries" />
            <p />
            
            <!-- Protocol table -->
            <p:dataTable paginator="true" rows="10" lazy="true" id="entries"
                var="pel" value="#{protocolQueryManager.protocolEntries}"
                emptyMessage="Keine Protokolleinträge vorhanden.">

                <!-- Details toggler -->
                <p:column>
                    <p:rowToggler rendered="#{pel.hasDetails()}" />
                </p:column>

                <!-- Image -->
                <p:column>
                    <h:graphicImage library="images" name="#{pel.imageName}" />
                </p:column>
                
                <!-- Component Name -->
                <p:column>
                    <div style="max-width: 80px; font-size: 90%;">
                        <h:outputText rendered="#{pel.hasLog()}" value="#{pel.entry.content.log.componentName}"
                            title="#{pel.entry.content.log.componentName}" />
                        <h:outputText rendered="#{pel.hasTrace()}" value="#{pel.entry.content.trace.step}"
                            title="#{pel.entry.content.trace.step}" />
                    </div>
                </p:column>
                
                <!-- Note -->
                <p:column>
                    <div style="max-width: 450px; font-size: 90%;">
                        <h:outputText rendered="#{pel.hasLog()}"
                            value="#{pel.logContent}"
                            title="#{pel.logContent}" />
                        <h:outputText rendered="#{pel.hasTrace()}"
                            value="#{pel.traceContent}"
                            title="#{pel.traceContent}" />
                        <h:outputText rendered="#{pel.hasGenericContent()}"
                            value="#{pel.entry.content.genericContent}"
                            title="#{pel.entry.content.genericContent}" />
                    </div>
                </p:column>

                <!-- profile and transformation script details link -->
                <p:column>
                    <h:link rendered="#{pel.hasTrace()}" value="Details" outcome="scriptDetails">
                        <f:param name="id" value="#{pel.entry.recordId}" />
                    </h:link>
                </p:column>

                <!-- Date -->
                <p:column style="font-size:90%;">
                    <h:outputText value="#{pel.entry.eventAt}"
                        converter="calendarConverter" />
                </p:column>

                <!-- Details -->
                <p:rowExpansion>
                    <p:panelGrid columns="2" cellspacing="5" rendered="#{pel.hasDetails()}">
                        <h:outputText rendered="#{pel.entry.messageId != null}"
                            value="Nachricht: " />
                        <p:commandLink update="entries"
                            rendered="#{pel.entry.messageId != null}"
                            value="#{pel.entry.messageId}"
                            action="#{protocolFilter.filterMessage(pel.entry.messageId)}" />
                        <h:outputText rendered="#{pel.entry.transactionId != null}"
                            value="Transaktion: " />
                        <p:commandLink update="entries"
                            rendered="#{pel.entry.transactionId != null}"
                            value="#{pel.entry.transactionId}"
                            action="#{protocolFilter.filterTransaction(pel.entry.transactionId)}" />
                        <h:outputText rendered="#{pel.entry.notificationId != null}"
                            value="Benachrichtigung: " />
                        <p:commandLink update="entries"
                            rendered="#{pel.entry.notificationId != null}"
                            value="#{pel.entry.notificationId}"
                            action="#{protocolFilter.filterNotification(pel.entry.notificationId)}" />
                        <h:outputText rendered="#{pel.entry.ruleName != null}"
                            value="Regel: " />
                        <h:outputText rendered="#{pel.entry.ruleName != null}"
                            value="#{pel.entry.ruleName}" />
                        <h:outputText rendered="#{pel.hasTrace()}" value="Step: " />
                        <h:outputText rendered="#{pel.hasTrace()}"
                            value="#{pel.entry.content.trace.step}" />
                    </p:panelGrid>
                </p:rowExpansion>

            </p:dataTable>

        </h:form>

    </ui:define>

</ui:composition>
