<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    template="../layout/p23rtemplate.xhtml">
    
    <ui:param name="index" value="4" />

    <ui:define name="body">

        <h1>Generierungsschritt <i><h:outputText value="#{protocolTraceDetailsManager.trace.step}" /></i></h1>
        
        <!-- Trace exists -->
            <p:tabView orientation="top">
                <!-- Transformation -->
                <p:tab title="Benachrichtigung">
                    <h:panelGrid>
                        <p:accordionPanel>
                            <p:tab title="Skript">
                                <p:scrollPanel mode="native">
                                    <div style="font-size: 150%;">
										<pe:codeMirror style="font-size: 150%;" theme="eclipse" mode="xml" readOnly="true" lineWrapping="true"
											value="#{protocolTraceDetailsManager.trace.transformationScript}"/>
									</div>
                                </p:scrollPanel>
                            </p:tab>
                        </p:accordionPanel>
                        <p:panel>
                            <h:panelGrid>
                                <h:outputText value="Eingabe" style="font-weight: bold;" />
                                <p:scrollPanel mode="native">
                                    <div style="font-size: 150%;">
                                        <pe:codeMirror theme="eclipse" mode="xml" readOnly="true" lineWrapping="true"
                                        value="#{protocolTraceDetailsManager.trace.inputNotification}"/>
                                    </div>
                                </p:scrollPanel>
                                <p/>
                                <h:outputText value="Ausgabe" style="font-weight: bold;" />
                                <p:scrollPanel mode="native">
                                    <div style="font-size: 150%;">
                                        <pe:codeMirror theme="eclipse" mode="xml" readOnly="true" lineWrapping="true"
                                        value="#{protocolTraceDetailsManager.trace.outputNotification}"/>
                                    </div>
                                </p:scrollPanel>
                            </h:panelGrid>
                        </p:panel>
                    </h:panelGrid>
                </p:tab>
                <!-- Profile -->
                <p:tab title="Profil">
                    <h:panelGrid>
                        <p:accordionPanel>
                            <p:tab title="Skript">
                                <p:scrollPanel mode="native">
                                    <div style="font-size: 150%;">
                                        <pe:codeMirror theme="eclipse" mode="xml" lineWrapping="true" readOnly="true"
                                        value="#{protocolTraceDetailsManager.trace.profileScript}"/>
                                    </div>
                                </p:scrollPanel>
                            </p:tab>
                        </p:accordionPanel>
                        <p:panel>
                            <h:panelGrid>
                                <h:outputText value="Eingabe" style="font-weight: bold;" />
                                <p:scrollPanel mode="native">
                                    <div style="font-size: 150%">
                                        <pe:codeMirror theme="eclipse" lineWrapping="true" mode="xml"
                                        readOnly="true" value="#{protocolTraceDetailsManager.trace.inputProfile}"/>
                                    </div>
                                </p:scrollPanel>
                                <h:outputText value="Ausgabe" style="font-weight: bold;" />
                                <p:scrollPanel mode="native">
                                    <div style="font-size: 150%">
                                        <pe:codeMirror theme="eclipse" mode="xml" lineWrapping="true" readOnly="true"
                                        value="#{protocolTraceDetailsManager.trace.outputProfile}"/>
                                    </div>
                                </p:scrollPanel>
                            </h:panelGrid>
                        </p:panel>
                    </h:panelGrid>
                </p:tab>
            </p:tabView>

    </ui:define>

</ui:composition>
